<p>Well I was drunk the day my mom got out of prison<br>
And I went to pick her up in the rain<br>
But before I could get to the station in the pick-up truck<br>
She got runned over by a damned old train</p>
