<div class='cash_song_list'></div>

<h1>Did Johnny write about it?</h1>

<p>Ever wonder if the Man in Black wrote a song about whatever is on your mind? Find out here.</p>

<form action='/cash' method='post' class='cash_submit'>
  <input type='textarea' name='topic' placeholder='Enter a topic'>
  <input type='submit'>
</form>
