
<div class='cash_song_list'></div>

<div class='cash_initial_text'>
  <h1>Did Johnny write about it?</h1>

  <p>Ever wonder if the Man in Black wrote a song about whatever is on your mind? Find out here.</p>
</div>

<div class='cash_retry_text'>
  <h3>Try another one:</h3>
</div>

<form action='/cash' method='post' class='cash_submit'>
  <input type='textarea' name='topic' placeholder='Enter a topic'>
  <input type='submit'>
</form>
