<h2>Steve Goodman thinks he wrote the perfect County & Western Song, but David thinks it's missing something.<h2>
<h1>Can you finish it?</h1>

<div class='coe_response'></div>

<form class='coe_submit'>
  <textarea name='new_verse' placeholder="Write a final verse here..." rows='4' cols='60'></textarea>
  <p><input type='submit' value='Send it to Dave'></p>
</form>
