<h1>Heed the Hag's Advice</h1>

<div class='haggard_wisdom_container'></div>

<form action='/haggard' method='post' class='haggard_submit'>
  <input id='haggard_submit_button' type='submit' value='Wise Up'>
</form>
