<h1>Hear it from the Possum</h1>

<div class='jones_quote_container'></div>

<form action='/jones' method='post' class='jones_submit'>
  <input id='jones_submit_button' type='submit' value='Get Inspired'>
</form>
