<div class='nelson_memories'>
  <div class='hes_thinking'><h2>He's thinking...</h2></div>
  <div class='he_doesnt_remember'><h2>No.</h2></div>
</div>

<h1>What do you want to ask Willie about?</h1>

<form class='nelson_submit'>
  <input type='text'>
  <input type='submit'>
</form>
