<a href="/haggard"><h2>Merle's Daily Wisdom</h2></a>
<a href="/jones"><h2>Get Inspired by the Possum</h2></a>
<a href="/cash"><h2>Did Johnny Write About It?</h2></a>

<img src="/img/merlehaters.jpg" class='haters'>
